<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <h2><%= link_to task.title, task_path(task) %></h2>
  <p>completed: <%= task.completed %></p>
<% end %>
<h3><%= link_to "+ Add a new task", tasks_new_path %></h3>
